/*
 * Copyright 2014 Hans de Goede <hdegoede@redhat.com>
 *
 * Hans de Goede <hdegoede@redhat.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun7i-a20-work.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Marsboard A20 New emmc";
	compatible = "haoyu,a20-marsboard-new-emmc", "allwinner,sun7i-a20";

	aliases {
		i2c4 = "/soc@01c00000/i2c@01c2c000";
		serial3 = "/soc@01c00000/serial@01c28c00";
		serial7 = "/soc@01c00000/serial@01c29c00";

		serial0 = &uart0;
		serial1 = &uart3;
		serial2 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";		
	};

/*	tv: connector {
		compatible = "composite-video-connector";
		label = "tv";

		port {
			tv_connector_in: endpoint {
				remote-endpoint = <&tve0_out_con>;
			};
		};
	};
*/


	tve0: tv-encoder@1c0a000 {
		compatible = "allwinner,sun4i-a10-tv-encoder";
		reg = <0x01c0a000 0x1000>;
		clocks = <&ccu CLK_AHB_TVE0>, <&ccu CLK_DRAM_TVE0>;
		clock-names = "ahb", "ram";
		resets = <&ccu RST_TVE0>;
		status = "okay";
		port {
			#address-cells = <1>;
			#size-cells = <0>;
			
			hdmi_in_tcon0: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon0_out_hdmi>;
			};
			hdmi_in_tcon1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&tcon1_out_hdmi>;
			};
		};
	};

/*	tve1: tv-encoder@1c1b000 {
		compatible = "allwinner,sun4i-a10-tv-encoder";
		reg = <0x01c1b000 0x1000>;
		clocks = <&ccu CLK_AHB_TVE1>, <&ccu CLK_DRAM_TVE1>;
		clock-names = "ahb", "ram";
		resets = <&ccu RST_TVE1>;
		status = "okay";

		port {
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi_in_tcon1: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&tcon1_out_hdmi>;
			};
		};
	};    */

	tvd: tv-decoder@1c08000 {
		compatible = "allwinner,sun4i-a10-tv-decoder";
		reg = <0x01c08000 0x1000>;
		clocks = <&ccu CLK_AHB_TVD>, <&ccu CLK_TVD>,
			<&ccu CLK_TVD_SCLK2>, <&ccu CLK_DRAM_TVD>,
			<&ccu CLK_PLL_VIDEO0>, <&ccu CLK_PLL_VIDEO1>;
		clock-names = "ahb", "sclk1",
			"sclk2", "ram",
			"pll0", "pll1";
		interrupts = <GIC_SPI 61 IRQ_TYPE_LEVEL_HIGH>;
	};


/*
	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con_in: endpoint {
				remote-endpoint = <&hdmi_out_con>;
			};
		};
	};   */

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_vt900v2>;

		hdd {
			label = "hdd-activity";
			gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>; /* PD22 */
			linux,default-trigger = "disk-activity";
		};

		err {
			label = "error";
			gpios = <&pio 3 23 GPIO_ACTIVE_HIGH>; /* PD23 */
		};

		status {
			label = "status";
			gpios = <&pio 3 24 GPIO_ACTIVE_HIGH>; /* PD24 */
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};

		can-bus {
			label = "can-bus";
			gpios = <&pio 3 25 GPIO_ACTIVE_HIGH>; /* PD25 */
		};

		relay1 {
			label = "relay1";
			gpios = <&pio 4 0 GPIO_ACTIVE_HIGH>; /* PE0 */
		};
		relay2 {
			label = "relay2";
			gpios = <&pio 4 1 GPIO_ACTIVE_HIGH>; /* PE1 */
		};
		relay3 {
			label = "relay3";
			gpios = <&pio 4 10 GPIO_ACTIVE_HIGH>; /* PE10 */
		};
		relay4 {
			label = "relay4";
			gpios = <&pio 4 11 GPIO_ACTIVE_HIGH>; /* PE11 */
		};

		usb0-pwr {
			label = "usb0-pwr";  /* usb 0 (OTG) */
			gpios = <&pio 1 9 GPIO_ACTIVE_HIGH>;   /* PB9 */
			default-state = "on";
		};
		usb1-pwr {
			label = "usb1-pwr";  /* usb 1 */
			gpios = <&pio 7 14 GPIO_ACTIVE_HIGH>;   /* PH14 */  
			default-state = "on";
		};
		usb2-pwr {
			label = "usb2-pwr";  /* internal lte modem */
			gpios = <&pio 7 15 GPIO_ACTIVE_HIGH>; /* PH15 */
			default-state = "off";
		};
	};

	reg_mmc0_3v3: mmc0-3v3 {
		status = "okay";
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&mmc0_power_pin_vt900v2>;
		regulator-name = "mmc0-3v3-pwr";
		vin-supply = <&reg_vcc3v3>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <100000>;
		regulator-always-on;
		/*regulator-boot-on; */
		gpio = <&pio 8 15 GPIO_ACTIVE_HIGH>; /* PI15 */
	};

	mmc2_pwrseq: mmc2-pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&pio 2 24 GPIO_ACTIVE_LOW>;  /* PC24 */
	};
};


&de {
	status = "okay";
	/* allwinner,pipelines = <&fe0>; */
};


/* &hdmi {
	status = "okay";
};
&hdmi_out {
	hdmi_out_con: endpoint {
		remote-endpoint = <&hdmi_con_in>;
	};
};  */



&ahci {
	status = "okay";
};

&codec {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
};



&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_pins_mii_17>;
	phy-handle = <&phy1>;
	phy-mode = "mii";
	status = "okay";
};

&gmac_mdio {
	phy1: ethernet-phy@0 {
		reg = <0>;
		max-speed = <100>;
	};
};



&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";

	button-392 {
		label = "Unmount";
		linux,code = <KEY_VOLUMEDOWN>;
		channel = <0>;
		voltage = <392644>;
	};

	button-1184 {
		label = "Recover";
		linux,code = <KEY_ESC>;
		channel = <0>;
		voltage = <1184678>;
	};
};


&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>, <&mmc0_cd_pin_bananapi>;
	vmmc-supply = <&reg_mmc0_3v3>;
	bus-width = <4>;
	cd-gpios = <&pio 7 10 GPIO_ACTIVE_HIGH>; /* PH10 */
	cd-inverted;
	no-1-8-v;
	max-frequency = <25000000>;
	status = "okay";
};

&mmc2 {
	vmmc-supply = <&reg_vcc3v3>;
	mmc-pwrseq = <&mmc2_pwrseq>;
	bus-width = <4>;
	non-removable;
	/*max-frequency = <25000000>;*/
	status = "okay";

	emmc: emmc@0 {
		reg = <0>;
		compatible = "mmc-card";
		broken-hpi;
	};
};



&pio {
	vcc-pa-supply = <&reg_vcc3v3>;
	vcc-pb-supply = <&reg_vcc3v3>;
	vcc-pc-supply = <&reg_vcc3v3>;
	vcc-pd-supply = <&reg_vcc3v3>;
	vcc-pe-supply = <&reg_vcc3v3>;
	vcc-pf-supply = <&reg_vcc3v3>;
	vcc-pg-supply = <&reg_vcc3v3>;
	vcc-ph-supply = <&reg_vcc3v3>;
	vcc-pi-supply = <&reg_vcc3v3>;

	i2c4_pins_vt900v2: i2c4@0 {
		allwinner,pins = "PI2", "PI3";
		allwinner,function = "i2c4";
	};
	uart3_pins_vt900v2: uart3@1 {
		allwinner,pins = "PH0", "PH1";
		allwinner,function = "uart3";
	};
	uart7_pins_vt900v2: uart7@0 {
		allwinner,pins = "PI20", "PI21";
		allwinner,function = "uart7";
	};

	led_pins_vt900v2: led_pins@0 {
		allwinner,pins = "PD22", "PD23", "PD24", "PD25",
			"PE0", "PE1", "PE10", "PE11",
			"PB9", "PH14", "PH15";
		/*usb0-PB9, usb1-PH14, usb2-PH15*/
		allwinner,function = "gpio_out";
	};
	
	usb0_id_detect_pin_vt900v2: usb0_id_detect_pin_vt900v2@0 {
		allwinner,pins = "PH11";
		allwinner,function = "gpio_in";
		bias-pull-up;
	};
	usb0_vbus_detect_pin_vt900v2: usb0_vbus_detect_pin_vt900v2@0 {
		allwinner,pins = "PH13";
		allwinner,function = "gpio_in";
		bias-pull-down;
	};

	mmc0_cd_pin_bananapi: mmc0_cd_pin@0 {
		allwinner,pins = "PH10";
		allwinner,function = "gpio_in";
		bias-pull-up;
	};
	mmc0_power_pin_vt900v2: mmc0_power_pin@0 {
		allwinner,pins = "PI15";
		allwinner,function = "gpio_out";
		drive-strength = <20>;
	};

	gmac_pins_mii_17: gmac_mii_17@0 {
		allwinner,pins = "PA0", "PA1", "PA2",
		       "PA3", "PA4", "PA5", "PA6",
		       "PA7", "PA8", "PA9", "PA10",
		       "PA11", "PA12", "PA13", "PA14",
		       "PA15", "PA16", "PA17";
		allwinner,function = "gmac";
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	axp209: pmic@34 {
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&i2c2 {
	status = "okay";
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins_vt900v2>;
	status = "okay";
};

#include "axp209.dtsi"

&ac_power_supply {
	status = "okay";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-int-dll";
};

&reg_ldo1 {
	regulator-name = "vdd-rtc";
};

&reg_ldo2 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "avcc";
};

&reg_vcc3v0 {
	status = "okay";
	regulator-always-on;
};

&reg_vcc3v3 {
	status = "okay";
	regulator-always-on;
};
&reg_vcc5v0 {
	status = "okay";
	regulator-always-on;
};


/*
&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>,
		    <&spi0_cs0_pins_a>,
		    <&spi0_cs1_pins_a>;
	status = "okay";
};
*/

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins_vt900v2>;
	status = "okay";
};
&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pins_vt900v2>;
	status = "okay";
};


&ehci0 {
	status = "okay";
};
&ehci1 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&otg_sram {
	status = "okay";
};
&usb_otg {
	dr_mode = "otg"; /*peripheral|otg|host*/
	status = "okay";
};


&usbphy {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_id_detect_pin_vt900v2>, <&usb0_vbus_detect_pin_vt900v2>;

	usb0_id_det-gpio = <&pio 7 11 GPIO_ACTIVE_HIGH>;   /* PH11 */
	usb0_vbus_det-gpio = <&pio 7 13 GPIO_ACTIVE_HIGH>; /* PH13 */
	usb0_vbus-supply = <&reg_vcc5v0>;
	
	status = "okay";
};



