/*
 * Copyright 2014 Hans de Goede <hdegoede@redhat.com>
 *
 * Hans de Goede <hdegoede@redhat.com>
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of the
 *     License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "sun7i-a20.dtsi"
#include "sunxi-common-regulators.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Marsboard A20 New emmc";
	compatible = "haoyu,a20-marsboard-new-emmc", "allwinner,sun7i-a20";

	aliases {
		i2c4 = "/soc@01c00000/i2c@01c2c000";
		serial3 = "/soc@01c00000/serial@01c28c00";
		serial7 = "/soc@01c00000/serial@01c29c00";

		serial0 = &uart0;
		serial1 = &uart3;
		serial2 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};


	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&led_pins_vt900v2>;

		hdd {
			label = "hdd-activity";
			gpios = <&pio 3 22 GPIO_ACTIVE_HIGH>; /* PD22 */
			linux,default-trigger = "disk-activity";
		};

		err {
			label = "error";
			gpios = <&pio 3 23 GPIO_ACTIVE_HIGH>; /* PD23 */
		};

		status {
			label = "status";
			gpios = <&pio 3 24 GPIO_ACTIVE_HIGH>; /* PD24 */
			default-state = "on";
			linux,default-trigger = "heartbeat";
		};

		can-bus {
			label = "can-bus";
			gpios = <&pio 3 25 GPIO_ACTIVE_HIGH>; /* PD25 */
		};

		relay1 {
			label = "relay1";
			gpios = <&pio 4 0 GPIO_ACTIVE_HIGH>; /* PE0 */
		};
		relay2 {
			label = "relay2";
			gpios = <&pio 4 1 GPIO_ACTIVE_HIGH>; /* PE1 */
		};
		relay3 {
			label = "relay3";
			gpios = <&pio 4 10 GPIO_ACTIVE_HIGH>; /* PE10 */
		};
		relay4 {
			label = "relay4";
			gpios = <&pio 4 11 GPIO_ACTIVE_HIGH>; /* PE11 */
		};
	};

	reg_mmc0_3v3: mmc0-3v3 {
		status = "okay";
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&mmc0_power_pin_vt900v2>;
		regulator-name = "mmc0-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		startup-delay-us = <100000>;		
		/* enable-active-high; */
		gpio = <&pio 8 15 GPIO_ACTIVE_HIGH>; /* PI15 */
	};

	mmc2_pwrseq: pwrseq {
		compatible = "mmc-pwrseq-emmc";
		reset-gpios = <&pio 2 24 GPIO_ACTIVE_LOW>;  /* PC24 */
	};

};

&ahci {
	status = "okay";
};

&codec {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_dcdc2>;
	operating-points = <
		/* kHz	  uV */
		960000	1400000
		912000	1400000
		864000	1350000
		720000	1250000
		528000	1150000
		312000	1100000
		144000	1050000
		>;
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&gmac {
	pinctrl-names = "default";
	pinctrl-0 = <&gmac_pins_mii_17>;
	phy = <&phy1>;
	phy-mode = "mii";
	status = "okay";

	phy1: ethernet-phy@1 {
		reg = <1>;
	};
};




&lradc {
	vref-supply = <&reg_vcc3v0>;
	status = "okay";

	button-392 {
		label = "Unmount";
		linux,code = <KEY_VOLUMEDOWN>;
		channel = <0>;
		voltage = <392644>;
	};

	button-1184 {
		label = "Recover";
		linux,code = <KEY_ESC>;
		channel = <0>;
		voltage = <1184678>;
	};
};


&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>, <&mmc0_cd_pin_bananapi>;
	vmmc-supply = <&reg_mmc0_3v3>;   /*<&reg_vcc3v3>;*/
	bus-width = <4>;
	cd-gpios = <&pio 7 10 GPIO_ACTIVE_HIGH>; /* PH10 */
	cd-inverted;
	status = "okay";
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_vcc3v3>;
	vqmmc-supply = <&reg_vcc3v3>;
	bus-width = <4>;
	non-removable;
	mmc-pwrseq = <&mmc2_pwrseq>;
	/*max-frequency = <12000000>;*/
	status = "okay";

	emmc: emmc@0 {
		reg = <0>;
		compatible = "mmc-card";
		broken-hpi;
	};
};


&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&otg_sram {
	status = "okay";
};

&pio {
	vcc-pa-supply = <&reg_vcc3v3>;
	vcc-pc-supply = <&reg_vcc3v3>;
	vcc-pe-supply = <&reg_vcc3v3>;
	vcc-pf-supply = <&reg_vcc3v3>;
	vcc-pg-supply = <&reg_vcc3v3>;

	i2c4_pins_vt900v2: i2c4@0 {
		pins = "PI2", "PI3";
		function = "i2c4";
	};
	uart3_pins_vt900v2: uart3@1 {
		pins = "PH0", "PH1";
		function = "uart3";
	};
	uart7_pins_vt900v2: uart7@0 {
		pins = "PI20", "PI21";
		function = "uart7";
	};

	led_pins_vt900v2: led_pins@0 {
		allwinner,pins = "PD22", "PD23", "PD24", "PD25",
			"PE0", "PE1", "PE10", "PE11";
		allwinner,function = "gpio_out";
	};
	
	usb0_id_detect_pin_vt900v2: usb0_id_detect_pin_vt900v2@0 {
		allwinner,pins = "PH11";
		allwinner,function = "gpio_in";
		bias-pull-up;
	};
	usb0_vbus_detect_pin_vt900v2: usb0_vbus_detect_pin_vt900v2@0 {
		allwinner,pins = "PH13";
		allwinner,function = "gpio_in";
		bias-pull-down;
	};
	usb0_vbus_pin_vt900v2: usb1_vbus_pin@0 {
		allwinner,pins = "PB9";
		allwinner,function = "gpio_out";
	};
	usb1_vbus_pin_vt900v2: usb1_vbus_pin@0 {
		allwinner,pins = "PH14";
		allwinner,function = "gpio_out";
	};
	usb2_vbus_pin_vt900v2: usb1_vbus_pin@0 {
		allwinner,pins = "PH15";
		allwinner,function = "gpio_out";
	};

	mmc0_cd_pin_bananapi: mmc0_cd_pin@0 {
		pins = "PH10";
		function = "gpio_in";
		bias-pull-up;
	};
	mmc0_power_pin_vt900v2: mmc0_power_pin@0 {
		allwinner,pins = "PI15";
		allwinner,function = "gpio_out";
		drive-strength = <20>;
	};

	gmac_pins_mii_17: gmac_mii_17@0 {
		pins = "PA0", "PA1", "PA2",
		       "PA3", "PA4", "PA5", "PA6",
		       "PA7", "PA8", "PA9", "PA10",
		       "PA11", "PA12", "PA13", "PA14",
		       "PA15", "PA16", "PA17";
		function = "gmac";
	};
};

&i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_pins>;
	status = "okay";

	axp209: pmic@34 {
		reg = <0x34>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
};

&i2c4 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4_pins_vt900v2>;
	status = "okay";
};

#include "axp209.dtsi"

&ac_power_supply {
	status = "okay";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-cpu";
};

&reg_dcdc3 {
	regulator-always-on;
	regulator-min-microvolt = <1000000>;
	regulator-max-microvolt = <1400000>;
	regulator-name = "vdd-int-dll";
};

&reg_ldo1 {
	regulator-name = "vdd-rtc";
};

&reg_ldo2 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "avcc";
};

&reg_vcc3v0 {
	status = "okay";
	regulator-always-on;
};
/*
&reg_vcc3v3 {
	status = "okay";
	regulator-always-on;
};
&reg_vcc5v0 {
	status = "okay";
	regulator-always-on;
};
*/
&reg_ahci_5v {
	status = "okay";
	regulator-always-on;
};

/*
&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pins_a>,
		    <&spi0_cs0_pins_a>,
		    <&spi0_cs1_pins_a>;
	status = "okay";
};
*/

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};
&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart3_pins_vt900v2>;
	status = "okay";
};
&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart7_pins_vt900v2>;
	status = "okay";
};


&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

/*
&usb_power_supply {
	status = "okay";
	regulator-always-on;
};
*/

&reg_usb0_vbus {
	status = "okay";
	pinctrl-0 = <&usb0_vbus_pin_vt900v2>;
	gpio = <&pio 1 9 GPIO_ACTIVE_HIGH>;   /* PB9 */  
	enable-active-high;
	/delete-property/ regulator-boot-on;
};


&reg_usb1_vbus {
	status = "okay";
	pinctrl-0 = <&usb1_vbus_pin_vt900v2>;  
	gpio = <&pio 7 14 GPIO_ACTIVE_HIGH>;   /* PH14 */  
	enable-active-high;
	/delete-property/ regulator-boot-on;
};


&reg_usb2_vbus {
	status = "okay";
	pinctrl-0 = <&usb2_vbus_pin_vt900v2>;
	gpio = <&pio 7 15 GPIO_ACTIVE_HIGH>;   /* PH15 */ 
	enable-active-high;
	/delete-property/ regulator-boot-on;
};


&usbphy {
	pinctrl-names = "default";
	pinctrl-0 = <&usb0_id_detect_pin_vt900v2>, <&usb0_vbus_detect_pin_vt900v2>;

	usb0_id_det-gpio = <&pio 7 11 GPIO_ACTIVE_HIGH>;   /* PH11 */
	usb0_vbus_det-gpio = <&pio 7 13 GPIO_ACTIVE_HIGH>; /* PH13 */
	usb0_vbus-supply = <&reg_usb0_vbus>;
	usb1_vbus-supply = <&reg_usb1_vbus>;
	usb2_vbus-supply = <&reg_usb2_vbus>;
	
	status = "okay";
};



