
config PVR_SGX
	tristate "PowerVR SGX support"
	depends on ARCH_SUN6I && LYCHEE_FB_SUN6I 
	default y
	help
	  Enable this option to build support for the PowerVR SGX 3D core.

	  To compile this driver as a module, choose M here:
	  this will generate two modules, called pvrsrvkm and dc_sunxi.

